/.DS_Store
/neural_pragmatic_nlg/_build/
/neural_pragmatic_nlg/.DS_Store
/neural_pragmatic_nlg/pics/.DS_Store
/neural_pragmatic_nlg/.ipynb_checkpoints/
/neural_pragmatic_nlg/.ob-jupyter/
/neural_pragmatic_nlg/slides/.DS_Store
